<div class="mb-3 mt-3" style="max-width: 500px">
  <form
    (ngSubmit)="getUserAnswer()"
    appColorAnswer="{{ status }}"
    class="p-5"
  >
    <div class="form-group">
      <input
        type="text"
        name="answer"
        placeholder="Ваш ответ"
        class="form-control"
        [(ngModel)]="answer"
      />
    </div>
    <button type="submit" class="btn btn-primary">Ответить</button>
  </form>
</div>

