<app-question
  *ngFor="let question of questionsArray; let i = index"
  [question]="question"
  [index]="i"
></app-question>
<hr/>
<div>
  <p>Общее количество вопросов: {{ questionsArray.length }}</p>
  <p>Количество правильных ответов: {{ getCorrectAnswers() }}</p>
</div>
