<div class="alert alert-info mt-4" style="max-width: 700px">
  <ul>
    <li><strong>{{ question.text }}</strong></li>
  </ul>
  <div appShowClue>
    <button type="button" class="btn btn-secondary">Подсказка</button>
    <p
      class="alert alert-warning mt-2"
      style="max-width: 500px; text-align: center; display: none"
    >{{ question.clue }}
    </p>
  </div>
  <app-form [index]="index"></app-form>
  <p><strong>{{ question.status }}</strong></p>
</div>
