<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <a class="navbar-brand" href="#">Testing questions</a>
  </nav>
</header>
<div class="container">
  <app-all-questions></app-all-questions>
</div>

